.header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: 3px solid #ddd;
    padding-top: 3px;
    padding-bottom: 3px;
}

#current_page a {
    color: lime;
}

a {
    outline: none;
    text-decoration: none;
}

.header div {
    font-size: 16px;
}

.header div a {
    color: black;
}

.header div a:hover {
    color: limegreen;
}

#current_page a:hover {
    color: limegreen
}

.logo {
    display: flex;
    width: 100px;
    height: 100px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    position: relative;
}

.item1 {
    font-family: 'Poppins', sans-serif;
}

.item2 {
    font-family: 'Poppins', sans-serif;
}

.item3 {
    font-family: 'Poppins', sans-serif;
}

.item4 {
    font-family: 'Poppins', sans-serif;
}

.item5 {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url(https://i.pinimg.com/originals/24/f4/99/24f499dd17eafd869ad5ddbd7e895e44.jpg), url(https://www.seekpng.com/png/full/106-1063866_white-circle-fade-png-white-blurry-circle-png.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

.title {
    text-align: center;
    color: black;
    font-size: 40px;
    border-bottom: 2px solid #ddd;
    font-family: 'Poppins', sans-serif;
    padding-top: 20px;
}

.gametext {
    padding-top: 20px;
    text-align: center;
}

#pyrite {
    margin-top: 50px;
    font-size: 30px;
    font-weight: bold;
    color: black;
    text-align: center;
    font-family: 'Poppins', sans-serif
}


.round {
    font-size: 12px;
    color: #4D5259;
    line-height: 1.5;
    font-weight: bold;
    padding: .5em 2em;
    background: #FFFFFF;
    border: 2px solid #4D5259;
    box-shadow: 4px 4px 0 0 #4D5259;
    border-radius: 100px;
    outline:0;
    transition: ease all .1s;
    margin-top: 20px;
} 

.round:active {
    transform: translateY(4px) translateX(4px);
    box-shadow: 0px 0px 0 0 #4D5259;
}

.round:hover {
    background: #d3d3d3;
}

.center {
    margin: 40px;
}

.center button {
    font-family: 'Poppins', sans-serif
}

.center div {
    font-family: 'Poppins', sans-serif
}

#title {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#title.fade {
    opacity: 0;
}

#gametext {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    font-family: 'Poppins', sans-serif;
}

#gametext.fade {
    opacity: 0;
}

#gamestart {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#gamestart.fade {
    opacity: 0;
}

#center {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#center.fade {
    opacity: 1;
}

#endcenter {
    opacity: 0;
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

#endcenter.fade {
    opacity: 1;
}

#pyperclick {
    font-weight: bold;
}

#pypersecond {
    font-weight: bold;     
}

#goldbar {
    background-color: yellow;
}

.gametext {
    font-family: 'Poppins', sans-serif;
}

.mySlides {
    display: none;
}

img {
    vertical-align: middle;
}

.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.text {
  color: white;
  font-size: 20px;
  padding: 8px 12px;
  padding-top: 100px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}

.text1 {
    color: white;
    font-size: 12px;
    padding: 8px 12px;
    padding-top: 100px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

.nebulapicture {
    border: 5px solid black;
    border-radius: 5px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 15px;
    background-image: url(https://img.freepik.com/free-vector/gradient-white-monochrome-background_23-2148999004.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: white;
    color: black;
    font-family: 'Poppins', sans-serif;
}

.footer div img {
    width: 50px;
    height: 50px;
}

.footer div a {
    color: blue;
}

.footer div a:hover {
    color: purple
}

@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}